Repository intel/neural-speed, pull requests merged in 2024-06, with the labels that each got.

#278 [Neural Speed] Fix `ret` when `ignore_prompt`
  docs/continuous_batching.md
  neural_speed/__init__.py
Labels: ready to review

#279 [BesTLA] Sync compiler's compatibility
  .github/workflows/unit-test-llmruntime.yml
  bestla/CMakeLists.txt
  bestla/bestla/bestla_device.h
  bestla/bestla/bestla_prologue_b.h
  bestla/bestla/bestla_utils.h
  bestla/bestla/bestla_wrapper.h
  bestla/bestla/kernel_avx2.h
  bestla/bestla/kernel_avx512f.h
  bestla/bestla/kernel_ref.h
  bestla/bestla/kernel_wrapper.h
  bestla/bestla/ut/bestla_epilogue.cpp
  bestla/bestla/ut/bestla_gemm.cpp
  bestla/bestla/ut/bestla_prologue_a.cpp
  bestla/bestla/ut/bestla_prologue_b.cpp
  bestla/bestla/xbyak/xbyak.h
  bestla/bestla/xbyak/xbyak_bin2hex.h
  bestla/bestla/xbyak/xbyak_mnemonic.h
  bestla/bestla/xbyak/xbyak_util.h
  bestla/cmake/FindSIMD.cmake
  bestla/cmake/config.cmake.in
  bestla/cmake/meson-config.cmake.in
  neural_speed/core/layers/mha_dense.cpp
  neural_speed/core/layers/mha_dense_wrapper.h
Labels: ready to merge, BesTLA

#285 [Neural Speed] Fix Baichuan, chatGLM1&2&3 acc issue
  neural_speed/models/baichuan/baichuan.cpp
  neural_speed/models/chatglm/chatglm2.cpp
  scripts/huggingface.py
Labels: bug, ready to merge

#291 [Model]enable glm4-9b
  docs/supported_models.md
  neural_speed/__init__.py
  neural_speed/convert/convert_chatglm.py
  neural_speed/models/chatglm/chatglm2.h
  scripts/huggingface.py
  tests/model-test/cpp_graph_inference.sh
Labels: review_complexity:low, cpu, extension test

#294 [Bug]fix glm4 acc error
  neural_speed/convert/convert_chatglm.py
Labels: bug, cpu

#292 [BesTLA] Support fp16 for compute_dtype and scale_dtype
  .github/workflows/unit-test-bestla.yml
  bestla/bestla/bestla.h
  bestla/bestla/bestla_parallel.h
  bestla/bestla/bestla_prologue_b.h
  bestla/bestla/bestla_utils.h
  bestla/bestla/bestla_wrapper.h
  bestla/bestla/kernel_avx2.h
  bestla/bestla/kernel_avx512_bf16.h
  bestla/bestla/kernel_avx512_fp16.h
  bestla/bestla/kernel_avx512_vnni.h
  bestla/bestla/kernel_avx512f.h
  bestla/bestla/kernel_avx_vnni.h
  bestla/bestla/kernel_ref.h
  bestla/bestla/kernel_wrapper.h
  bestla/bestla/ut/bestla_prologue_b.cpp
  bestla/bestla/ut/kernel_intrin.cpp
  bestla/bestla/ut/kernel_wrapper.cpp
  bestla/cmake/FindSIMD.cmake
  neural_speed/application/common.cpp
  neural_speed/application/common.h
  neural_speed/core/layers/bestla_defs.h
  neural_speed/core/layers/bestla_gemm.cpp
  neural_speed/core/layers/inner_product.cpp
  neural_speed/core/layers/ip_fusion_ffn.cpp
  neural_speed/core/layers/ip_fusion_qkv.cpp
  neural_speed/core/layers/mha_dense_wrapper.h
  neural_speed/models/model_utils/quant_utils.cpp
Labels: ready to merge, BesTLA

#272 [SYCL] Support SYCL layer for LLaMA2 model
  CMakeLists.txt
  CMakePresets.json
  bestla/CMakeLists.txt
  bestla/bestla/bestla_prologue_b.h
  bestla/bestla/bestla_storage.h
  bestla/bestla/bestla_utils.h
  bestla/bestla/kernel_avx2.h
  bestla/bestla/sycl/sycl_device.h
  bestla/bestla/sycl/sycl_gemm.h
  bestla/bestla/sycl/sycl_prologue_a.h
  bestla/bestla/sycl/sycl_prologue_b.h
  bestla/bestla/sycl/sycl_storage.h
  bestla/bestla/sycl/sycl_utils.h
  bestla/bestla/sycl/sycl_wrapper.h
  bestla/bestla/ut/bestla_benchmark.cpp
  bestla/bestla/ut/sycl_benchmark.cpp
  bestla/bestla/ut/sycl_gemm.cpp
  bestla/bestla/ut/sycl_misc.cpp
  neural_speed/application/main_pybind.cpp
  neural_speed/application/main_run.cpp
  neural_speed/application/pybind_gptj.cpp
  neural_speed/core/CMakeLists.txt
  neural_speed/core/layers/bestla_common.hpp
  neural_speed/core/layers/ne_bestla.cpp
  neural_speed/core/layers/ne_bestla_sycl.cpp
  neural_speed/core/ne.h
  neural_speed/core/ne_bestla.h
  neural_speed/core/ne_layers.c
  neural_speed/core/ne_layers.h
  neural_speed/models/bloom/bloom.cpp
  neural_speed/models/chatglm/chatglm.cpp
  neural_speed/models/falcon/falcon.cpp
  neural_speed/models/gemma/gemma.cpp
  neural_speed/models/gptj/gptj.cpp
  neural_speed/models/gptneox/gptneox.cpp
  neural_speed/models/grok/grok.cpp
  neural_speed/models/llama/llama.cpp
  neural_speed/models/llama/llama.h
  neural_speed/models/llama/llama_utils.cpp
  neural_speed/models/model_utils/model_config.h
  neural_speed/models/model_utils/model_files.h
  neural_speed/models/model_utils/model_types.h
  neural_speed/models/model_utils/model_utils.cpp
  neural_speed/models/model_utils/model_utils.h
  neural_speed/models/model_utils/scheduler.cpp
  neural_speed/models/mpt/mpt.cpp
  neural_speed/models/opt/opt.cpp
  neural_speed/models/phi/phi.cpp
  neural_speed/models/phi/phi3.cpp
  neural_speed/models/qwen/qwen.cpp
  neural_speed/models/stablelm/stablelm.cpp
  neural_speed/models/starcoder/starcoder.cpp
  neural_speed/models/whisper/whisper.cpp
  neural_speed/vectors/cpu/quantize.h
  neural_speed/vectors/cpu/vec_arithmetic.cpp
  neural_speed/vectors/cpu/vec_base.hpp
  neural_speed/vectors/ele_reduce.cpp
Labels: ready to merge, review_complexity:high, cpu, sycl
