Repository intel/neural-speed, pull requests merged in 2024-05, with the labels that each got.

#209 [BesTLA] Refactor quantization-related kernels
  CMakePresets.json
  bestla/CMakeLists.txt
  bestla/bestla/bestla_device.h
  bestla/bestla/bestla_epilogue.h
  bestla/bestla/bestla_gemm.h
  bestla/bestla/bestla_jit.h
  bestla/bestla/bestla_parallel.h
  bestla/bestla/bestla_prologue_b.h
  bestla/bestla/bestla_storage.h
  bestla/bestla/bestla_utils.h
  bestla/bestla/bestla_wrapper.h
  bestla/bestla/kernel_avx2.h
  bestla/bestla/kernel_avx512_bf16.h
  bestla/bestla/kernel_avx512f.h
  bestla/bestla/kernel_jit.h
  bestla/bestla/kernel_ref.h
  bestla/bestla/kernel_wrapper.h
  bestla/bestla/ut/bestla_benchmark.cpp
  bestla/bestla/ut/bestla_gemm.cpp
  bestla/bestla/ut/bestla_prologue_b.cpp
  bestla/bestla/ut/bestla_ut.h
  bestla/bestla/ut/bestla_wrapper.cpp
  bestla/bestla/ut/kernel_intrin.cpp
  bestla/bestla/ut/kernel_jit.cpp
  bestla/bestla/ut/kernel_wrapper.cpp
  neural_speed/application/main_run.cpp
  neural_speed/convert/common.py
  neural_speed/convert/convert_quantized_gptj.py
  neural_speed/convert/convert_quantized_llama.py
  neural_speed/convert/convert_quantized_mistral.py
  neural_speed/convert/convert_quantized_mixtral.py
  neural_speed/core/layers/bestla_common.hpp
  neural_speed/core/layers/bestla_defs.h
  neural_speed/core/layers/bestla_gemm.cpp
  neural_speed/core/layers/inner_product.cpp
  neural_speed/core/layers/ip_fusion_ffn.cpp
  neural_speed/core/layers/ip_fusion_qkv.cpp
  neural_speed/core/ne_layers.c
  neural_speed/models/model_utils/model_utils.cpp
  neural_speed/models/model_utils/quant_utils.cpp
Labels: ready to review, BesTLA

#252 [DOC] Add `Neural_Speed` Usage in `Neural Chat` Server in `README.md`
  README.md
Labels: documentation, ready to merge

#259 [BesTLA] Support int5&int6 for kernels and models
  bestla/README.md
  bestla/bestla/bestla.h
  bestla/bestla/bestla_prologue_b.h
  bestla/bestla/bestla_storage.h
  bestla/bestla/bestla_utils.h
  bestla/bestla/bestla_wrapper.h
  bestla/bestla/kernel_avx2.h
  bestla/bestla/kernel_avx512f.h
  bestla/bestla/kernel_ref.h
  bestla/bestla/kernel_wrapper.h
  bestla/bestla/ut/bestla_benchmark.cpp
  bestla/bestla/ut/bestla_prologue_b.cpp
  bestla/bestla/ut/kernel_intrin.cpp
  docs/advanced_usage.md
  neural_speed/application/common.cpp
  neural_speed/core/README.md
  neural_speed/models/model_utils/quant_config.h
  neural_speed/models/model_utils/quant_utils.cpp
Labels: ready to review, BesTLA

#239 [CI] Add LLAMA3 ACC CI Test
  .github/workflows/cpp-graph-test.yml
  .github/workflows/scripts/models/calculate_percertiles.py
  .github/workflows/scripts/models/cpp_graph_inference.sh
  .github/workflows/scripts/models/generate_report.sh
  neural_speed/models/requirements/common.txt
  scripts/accuracy.py
  scripts/cal_acc.py
  scripts/huggingface.py
  scripts/ns_evaluator.py
  tests/model-test/calculate_percentiles.py
  tests/model-test/cpp_graph_inference.sh
  tests/requirements.txt
Labels: CI

#267 [Neural Speed] Add `compute_dtype` For Quant Model Convert
  neural_speed/convert/common.py
  neural_speed/convert/convert_quantized_baichuan.py
  neural_speed/convert/convert_quantized_falcon.py
  neural_speed/convert/convert_quantized_gptj.py
  neural_speed/convert/convert_quantized_llama.py
  neural_speed/convert/convert_quantized_mistral.py
  neural_speed/convert/convert_quantized_mixtral.py
  neural_speed/convert/convert_quantized_phi.py
  neural_speed/convert/convert_quantized_qwen.py
  tests/model-test/cpp_graph_inference.sh
Labels: ready to review

#271 [BesTLA] First-token inference optimization
  CMakeLists.txt
  bestla/CMakeLists.txt
  bestla/bestla/bestla_device.h
  bestla/bestla/bestla_epilogue.h
  bestla/bestla/bestla_gemm.h
  bestla/bestla/bestla_parallel.h
  bestla/bestla/bestla_wrapper.h
  bestla/bestla/kernel_avx2.h
  bestla/bestla/kernel_avx512f.h
  bestla/bestla/kernel_ref.h
  bestla/bestla/kernel_wrapper.h
  bestla/bestla/ut/bestla_benchmark.cpp
  bestla/bestla/ut/bestla_epilogue.cpp
  bestla/bestla/ut/bestla_parallel.cpp
  bestla/bestla/ut/bestla_prologue_b.cpp
  neural_speed/core/README.md
  neural_speed/core/layers/bestla_common.hpp
  neural_speed/core/layers/bestla_defs.h
  neural_speed/core/layers/bestla_gemm.cpp
  neural_speed/core/layers/inner_product.cpp
  neural_speed/core/layers/ip_fusion_ffn.cpp
  neural_speed/core/layers/ip_fusion_qkv.cpp
  neural_speed/core/layers/mha_dense_wrapper.h
  neural_speed/core/layers/ne_bestla.cpp
  neural_speed/core/ne_bestla.h
  neural_speed/core/ne_layers.c
Labels: ready to review, BesTLA
